.card-container {
  border-radius: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0 0% 12%);
  background-color: hsl(var(--card));
  color: hsl(213 31% 91%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 0.375rem;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}

.card-title.large {
  font-size: 1.5rem;
  line-height: 1;
}

.card-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
  margin: 0;
  margin-top: 0.25rem;
}

.card-content {
  padding: 1.5rem;
  padding-top: 0;
}
